* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h1,h2,h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
section h2 {
  background-color: #F3B136;
  color: aliceblue;
  clear: both;
  margin-left: -3.11%;
  margin-right: -3.11%;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
}
main {
  background-color: rgb(19, 100, 127);
}
section {
  padding: 3%;
}
#grid-floats, #grid-flex {
  display: block;
  width: 100%;
  height: fit-content;
  
}
li.grid-item {
  position: relative;
  padding: 4%;
  margin: 2% 3%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(224, 221, 221);
  border-radius: 10px;
  overflow: hidden;
}
li.grid-item:hover {
  border-color: black;
}
li.grid-item:hover h3 {
background-color: rgb(19, 100, 127);
border-radius: 10px;
color: white;
transition: all 300ms;
}
/* --------------------- SmartPhone -------------------------- */
@media (max-width: 375px ){

  h3 {
    padding: 10;
    font-size: 14px;
  }
/* -------------------- Floats ------------------------ */

.grid-item:first-child{
  width: 94%;
  display: block;
  float: left;
  position: relative;
}
.grid-item:nth-child(n+2){
  width: 44%;
  height: 300px;
  overflow: hidden;
  display: block;
  float: right;
}
.grid-item:nth-child(n+2):hover {
  overflow: auto;
}
.grid-item:first-child:hover {
  border-color: #F3B136;
  transition: all 300ms;
}
.grid-item:first-child:hover h3 {
  background-color: #F3B136;
  color: white;
  transition: all 300ms;
}
/* -------------------- Flex --------------------------- */
#grid-flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#grid-flex .grid-item:first-child{
  width: 94%;
}
#grid-flex .grid-item {
  width: 44%;
}

}
/* ------------------ Tablet ---------------------- */
@media (max-width: 1023px )and (min-width:
376px) {

/* -------------------- Floats------------------------ */

.grid-item:first-child,
.grid-item:nth-child(2){
  width: 44%;
  height: 430px;
  display: block;
  float: left;
  transition: all 300ms;
  overflow: hidden;
}
.grid-item:first-child:hover,
.grid-item:nth-child(2):hover {
  border-color:  #F3B136;
  transform: scale(1.02);
  z-index: 100;
}
.grid-item:first-child:hover h3,
.grid-item:nth-child(2):hover h3 {
  background-color: #F3B136;
  color: white;
}
.grid-item:nth-child(n+3) {
  width: 27.3%;
  float: left;
  height: 370px;
}
.grid-item:nth-child(n+3):hover {
  overflow: auto;
}
/* -------------------- Flex ------------------------ */
#grid-flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#grid-flex .grid-item:first-child,
#grid-flex .grid-item:nth-child(2){
width: 44%;
}

#grid-flex .grid-item {
  width: 27.3%;
  flex-basis: 1;
}
}
/* ----------------------- Desktop ---------------------------- */
@media (min-width: 1024px){
/* --------------------Floats------------------------ */
#grid-floats li.grid-item {
  overflow: hidden;
}
.grid-item:first-child{
  width: 44%;
  max-height: 470px;
  transition: all 300ms;
  float: left;
}
.grid-item:first-child:hover {
  border-color:  #F3B136;
  transform: scale(1.02);
  z-index: 100;
}
.grid-item:first-child:hover h3{
  background-color: #F3B136;

}
.grid-item:nth-child(n+2){
  width: 19%;
  max-height: 470px;
  float: left;
  height: 470px;
}
/* -------------------- Flex ------------------------ */
#grid-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#grid-flex .grid-item:first-child{
width: 44%;
}

#grid-flex .grid-item {
width: 19%;
}
}

@media (min-width: 1080px) {
  .grid-item:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .grid-item:first-child img {
    width: 65%;
    margin-left: 20%;
  }
  .grid-item:first-child p {
    margin-bottom: 7%;
  }
  .grid-item:first-child h3 {
    margin-top: 7%;
  }
}