html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
body {
  color: #35733c;
  font-family: "Slabo 27px", serif;
  line-height: 1.42857143;
}

h2 {
  font-size: 30px;
  color: #333;
}
h1,
h2 {
  margin-bottom: 10px;
}
h4 {
  margin: 10px 0px 15px;
}
img {
  width: 100%;
  vertical-align: middle;
  height: auto;
}
p {
  color: #333;
  margin-bottom: 10px;
}
footer {
  padding: 30px 0px 0px;
}
.pd-15-lr {
  padding-left: 15px;
  padding-right: 15px;
}
.pd-15 {
  padding: 15px;
}
.pd-30 {
  padding: 30px;
}
.pd-30-tb {
  padding-top: 30px;
  padding-bottom: 30px;
}
.m-15-bot {
  margin-bottom: 15px;
}

/* ----------------- Slide Menu -----------------*/
.slide-menu {
  display: none;
  width: 256px !important;
  padding: 10px;
  background-color: #fcfcfc;
  height: fit-content;
  overflow: auto;
}
.slide-menu > a {
  margin-bottom: 15px;
  width: 100%;
  display: block;
  text-decoration: none;
  height: fit-content;
}
.slide-menu .nav {
  padding: 10px;
}
nav a {
  display: block;
  margin-left: 17px;
  padding: 3px 0px;
}
details .details__ul {
  padding: 10px;
}
/* ---------------- Main ---------------- */
.logo {
  margin-left: -15px;
}
.logo img {
  width: 200px;
  height: auto;
}
.main__nav {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.top-banner {
  display: flex;
}
.top-text__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.top-text__wrapper h1 {
  margin-top: 20px;
  font-size: 38px;
}
.orange-circle {
  font-size: 45px;
  background-color: #e94e0f;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: #fff;
  font-family: "Tangerine", cursive;
}
.info-block__text {
  background: #35733c;
}
.info-block__text p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
}
.info-block__img {
  background: #35733c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.info-block__img img {
  width: 40px;
  height: 40px;
}
.content-block {
  background-color: #363636;
  position: relative;
}
.exhibition__text,
.news__text {
  padding: 75px 0px;
  position: relative;
  z-index: 2;
}
.__eyes {
  width: 100%;
  position: absolute;
  padding: 10px 25px 0px;
  z-index: 1;
  display: none;
  justify-content: space-between;
}
.__eyes img {
  display: inline-block;
  width: 189px;
  height: 189px;
}

.exhibition__text h2,
.news__text h2 {
  color: #fff;
  text-align: center;
}
.exh-details .exh-details__img:first-child {
  display: none;
}
.exh-details__Events p:first-child {
  margin-bottom: 0px;
  color: #35733c;
}
.mask__text,
.afternoon__text {
  background: #7ab7bc;
  padding: 40px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mask__text p,
.afternoon__text p {
  padding: 0px 15px;
}

.quote {
  padding: 30px 0px;
}
.quote p {
  text-align: center;
}
.quote__text p {
  font-family: "Tangerine", cursive;
  font-size: 25px;
  font-weight: bold;
}
.quote__name {
  padding-top: 20px;
}
.quote__name h2 {
  text-align: center;
  color: #35733c;
}


/* ------------------ Footer ------------------ */
.links {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.links__logo img {
  width: 380px;
  height: 150px;
}
.footer__nav {
  padding: 70px 15px;
  font-family: "Montserrat", sans-serif;
  background: url("https://www.tampere-talo.fi/app/themes/muumimuseo/images/bg-footer-navi.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__nav * {
  display: block;
  color: #fff;
  font-weight: 600;
}
.footer__nav p {
  font-size: 14px;
}
.nav-block {
  margin-bottom: 10px;
  padding: 0px 15px;
}
a.btn {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #fff;
  margin: 10px 0;
  letter-spacing: 1px;
  width: 140px;
}
.number {
  margin: 20px 0px;
}
.nav-block ul li a {
  font-size: 13px;
}
.footer__logos {
  padding: 30px 15px;
}
.logo-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 10px 0px;
}
.logo-block i {
  font-size: 20px;
  padding: 5px;
}
.logo-block img {
  width: 100%;
}
.logo-block span {
  margin-right: 10px;
}
/* --------------- MediaQueries --------------- */
@media (min-width: 462px) {
  .__eyes {
    display: flex;
  }
  a.btn {
    display: block;
  }
}
@media (min-width: 651px) {
  .top-text__wrapper {
    display: flex;
    flex-direction: row;
  }
  .top-text__wrapper .title {
    padding: 10px 85px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .top-text__wrapper a {
    position: absolute;
    bottom: 0;
    right: 20px;
  }
}
@media (min-width: 760px) {
  .container-width {
    margin: auto;
    width: 750px;
  }
  .exhibition + .exh-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "text1 img1"
      "img2  text2"
      "text3 text3";
  }
  .exh-details__next {
    grid-area: text1;
  }
  .exh-details__img:first-child {
    grid-area: img1;
  }
  .exh-details__observatory {
    grid-area: text2;
  }
  .info-block__text p {
    font-size: 16px;
    line-height: normal;
  }
  .news__text h2 {
    font-size: 50px;
  }
  .quote__text p {
    font-size: 44px;
    line-height: normal;
  }
  .footer__logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .container-width {
    width: 970px;
  }
  .top-content {
    position: relative;
  }
  .top-text {
    width: 100%;
    position: absolute;
    z-index: 4;
    top: 240px;
    left: 0px;
    padding: 0px 80px;
  }
  .top-text__wrapper {
    height: 139px;
    background: #fff;
    padding: 0;
  }
  .top-text__wrapper a {
    bottom: -20px;
    right: -30px;
  }

  .exhibition + .exh-details {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 
    "img1 img2 img3"
    "text1 text2 text3";
  }
  .exh-details .exh-details__img:first-child {
  display: inherit;
}
  .exh-details__next {
    grid-area: text1;
  }
  .exh-details__img:first-child {
    grid-area: img1;
  }
  .exh-details__observatory {
    grid-area: text2;
  }
  .afternoon__text {
    display: flex;
    flex-direction: row;
    justify-content: ;
  }
  .afternoon__text .text-wrap {
    width: 50%;
    margin-left: 25%;
  }
  .afternoon__text a {
    position: relative;
    right: -80px;
  }
 .exh-details__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .exh-details__text {
    padding: 20px 20px;
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px;
  }
  .links__logo img {
    width: 300px;
    padding: 10px;
  }
  .footer__logos {
    display: flex;
    justify-content: space-evenly;

  }
  .logo-block {
    width: 30%;
  }
}
