html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
body {
  color: #35733c;
  font-family: 'Slabo 27px', serif;
}

h2 {
  font-size: 30px;
  color: #333;
}
h1,
h2 {
  margin-bottom: 10px;
}
h4 {
  margin: 10px 0px 15px
}
img {
  width: 100%;
  vertical-align: middle;
}
p {
  color: #333;
  margin-bottom: 10px;
}

.pd-15-lr {
  padding-left: 15px;
  padding-right: 15px;
}
.pd-15 {
  padding: 15px;
}
.pd-30 {
  padding: 30px;
}
.pd-30-tb{
  padding-top: 30px;
  padding-bottom: 30px;
}
.m-15-bot {
  margin-bottom: 15px;
}
/* ----------------- Slide Menu -----------------*/
.slide-menu {
  display: none;
  width: 256px !important;
  padding: 10px;
  background-color: #fcfcfc;
  height: fit-content;
  overflow: auto;
}
.slide-menu > a {
  margin-bottom: 15px;
  width: 100%;
  display: block;
  text-decoration: none;
  height: fit-content;
}
.slide-menu .nav {
  padding: 10px;
}
nav a {
  display: block;
  margin-left: 17px;
  padding: 3px 0px;
}
details .details__ul {
  padding: 10px;
}
/* ---------------- Main ---------------- */
.logo {
  margin-left: -15px;
}
.logo img {
  width: 200px;
  height: auto;
}
.main__nav {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.top-banner {
  display: flex;
}
.top-text__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.top-text__wrapper h1 {
  margin-top: 20px;
  font-size: 38px;
}
.orange-circle {
  font-size: 45px;
  background-color: #e94e0f;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  color: #fff;
  font-family: 'Tangerine', cursive;
}
.info-block__text {
  background: #35733c;
}
.info-block__text p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
}
.info-block__img {
  background: #35733c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}
.info-block__img img {
  width: 40px;
  height: 40px;
}
.exhibition__text,
.news__text {
  padding: 75px 0px;
  background: #333;
}
.exhibition__text h2,
.news__text h2 {
  color: #fff;
    text-align: center;
}
.exh-details__Events  p:first-child {
  margin-bottom: 0px;
  color: #35733c;
}
.mask__text,
.afternoon__text {
  background: #7ab7bc;
  padding: 40px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mask__text p,
.afternoon__text p{
  padding: 0px 15px;
}

.quote {
  padding: 30px 0px;
}
.quote p {
  text-align: center;
}
.quote__text p {
  font-family: 'Tangerine', cursive;
  font-size: 25px;
  font-weight: bold;
}
.quote__name {
  padding-top: 20px;
}
.quote__name h2{
  text-align: center;
  color: #35733c;
}

.links {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.links__logo img {
  width: 380px;
  height: 150px;
}

.footer__nav {
  padding: 70px 15px;
  font-family: 'Montserrat', sans-serif;
  background: url("https://www.tampere-talo.fi/app/themes/muumimuseo/images/bg-footer-navi.jpg");
  background-size: cover;
}
.footer__nav * {
  color: #fff;
  font-weight: 600;
}
.nav-block {
  margin-bottom: 10px;
  padding: 0px 15px;
}
a.btn {
  padding: 5px 10px;
  border: 2px solid #fff;
  margin: 10px 0;
  letter-spacing: 1px;
  width: 140px;
}
.number {
  margin: 20px 0px;
}
/* --------------- Smartphone --------------- */
@media (min-width: 375px) {
}
